body {
  background: url("../img/black.jpg");
  background-attachment: fixed;
}

#logo {
  background: #0b0b0d;

  box-shadow: 0px 0px 4px #d3d5fd;
}

#menu ul li:hover {
  background: #0b0b0d;
  border-radius: 18px;
}

.boton-mas {
  background: #0b0b0d;
}

form input[type="submit"] {
  border: 2px solid #0b0b0d;
}

.post .fecha {
  color: #474a56;
}

#sidebar img {
  border: 2px solid #474a56;
}
